.register-confirm-dialog .title {
    margin: 25px 0;
    text-align: center;
}

.register-confirm-dialog .icon-container svg {
    width: 1.5em;
    height: 1.5em;
    color: #008001;
}.modal-button-container{
    margin: 20px 0;
}
.MuiTextField-root.modal-text-field{
    margin: 10px 0;
}
.MuiModal-root.modal{
    top: 5%;
}
.MuiFormHelperText-root {
    margin-left: 0;
}